@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"),
        url(../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}

p,
h3,
li,
h5 {
    font-family: 'Montserrat-Italic';
}

h5 {
    @apply font-normal
}

.dialog-background {
    background-image: url(../assets/imgs/fondo-01.png);
    @apply bg-cover h-screen
}
.v-card {
    @apply h-3/4;
}
.v-card.card-option , .v-card {
    border-radius: 30px !important;
    padding: 1em;
}

.v-card.first-card {
    @apply !shadow-none bg-transparent p-0 mt-0;
}

.v-card.first-card .popgray {
    background: #ffffffb0;
    border-radius: 20px;
    border: 2px solid #fff;
}

.v-card.first-card .popgray.noborder-top {
    border-top: none;
    @apply rounded-tr-none rounded-tl-none;
}

.v-card.first-card .popgray.noborder-bottom {
    border-bottom: none;
    @apply rounded-br-none rounded-bl-none;
}

.v-card-text {
    @apply flex items-center;
}

.v-card.first-card button.v-btn {
    @apply m-auto;
}

.v-card.first-card button {
    background-image: linear-gradient(45deg, #01b5e4, #60b344);
}

div.popgray p {
    padding: 2em;
    @apply text-left;
}

button.v-btn {
    @apply !bg-green-600 !text-white !rounded-tr-none;
    border-radius: 35px;
    padding: 16px 50px 32px !important;
    box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}

.icon-back {
    top: 50%;
    left: -12px;
    background: #fff;
    box-shadow: 0px 3px 6px gray;
    border-radius: 10px;
    @apply fixed p-4;
}

.selected-image {
    background: linear-gradient(45deg, #00b5e4, #60b343);
}

.image-filter {
    filter: brightness(3);
}

.v-selection-control__wrapper {
    @apply hidden;
}

.selected-image label.v-label.v-label--clickable {
    @apply text-white font-bold;
}

label.v-label.v-label--clickable {
    margin-bottom: 1em;
    @apply text-center block;
}

.v-text-field input {
    padding: 0.5em 1em !important;
    min-height: 20px !important;
    @apply text-center font-bold;
}

.input-green input {
    @apply text-white;
}

.input-green .v-field {
    background: linear-gradient(45deg, #00b5e4, #60b343);
    border-radius: 10px;
}

label.v-label {
    font-size: 10px;
}

p.txt-border {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 1em auto;
    @apply p-2 w-3/5;
}

.txt-green {
    @apply text-green-600;
}

.info-button {
    @apply w-6 h-6 text-white bg-yellow-600;
    background: none;
    border: none;
    margin: 1px 1em;
    border-radius: 50%;
    cursor: help;
}

.info-tooltip {
@apply fixed bg-white font-semibold;
left: 50%;
top: -15%;
transform: translateX(-50%);
border-radius: 11px;
padding: 1em;
z-index: 1;
border: none;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}