@font-face {
    font-family: "Montserrat-Italic";
    src: local("Montserrat-Italic"),
        url(../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}

p,
h3,
li,
h5 {
    font-family: 'Montserrat-Italic';
}

h5 {
    font-weight: 400;
}

.dialog-background {
    background-image: url(../assets/imgs/fondo-01.png);
    background-size: cover;
    height: 100vh;
}

.v-card.card-option , .v-card {
    border-radius: 30px !important;
    padding: 1em;
}

.v-card.first-card {
    box-shadow: none !important;
    background: transparent;
    border: 0;
    padding: 0em;
    margin-top: 200px;
}

.v-card.first-card .popgray {
    background: #ffffffb0;
    border-radius: 20px;
    border: 2px solid #fff;
}

.v-card.first-card .popgray.noborder-top {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.v-card.first-card .popgray.noborder-bottom {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.v-card.first-card button.v-btn {
    margin: auto;
}

div.popgray p {
    padding: 2em;
    color: #00b5e5;
}

button.v-btn {
    background-color: #4CAF50 !important;
    color: #fff !important;
    border-radius: 35px;
    border-top-right-radius: 0;
    padding: 16px 50px 32px !important;
    box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}

.icon-back {
    position: fixed;
    top: 50%;
    left: -12px;
    background: #fff;
    box-shadow: 0px 3px 6px gray;
    padding: 18px;
    border-radius: 10px;
}

.selected-image {
    background: linear-gradient(45deg, #00b5e4, #60b343);
}

.image-filter {
    filter: brightness(3);
}

.v-selection-control__wrapper {
    display: none;
}

.selected-image label.v-label.v-label--clickable {
    color: #fff;
    font-weight: 700;
}

label.v-label.v-label--clickable {
    text-align: center;
    display: block;
    margin-bottom: 1em;
}

.v-text-field input {
    padding: 0.5em 1em !important;
    min-height: 20px !important;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.v-field {
    background: linear-gradient(45deg, #00b5e4, #60b343);
    border-radius: 10px;
}

label.v-label {
    font-size: 12px;
}